a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.img-box{
    width: 210px;
    height: 360px;
    border-radius: 10px;
}

.box-card{
    margin-top: 10em;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    .card-link{
        color: rgb(212, 212, 212);
        text-decoration: none;
        padding: 1em;
        background-color: black;
        border-radius: 10px;
        transition: all ease-in-out 0.2s;
    }
}
.card-link:hover{
    transform: translateY(-7px);
}